@import 'node_modules/bootstrap/scss/bootstrap';

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: rgb(205, 206, 208);
}

#profile-pic {
	height: 150px;
	width: 150px;
}

#index-banner {
	width: 250px;
}

#index-header {
	width: 600px;
}
