@import 'node_modules/bootstrap/scss/bootstrap';

* {
	font-family: 'Kumbh Sans', sans-serif;
}

body {
background-color: #AF92FF;
color:#FBE698;
}

.navBar {
	background-color: #AF92FF;
}

.navBar a {
	color:#FBE698;
}

#homepage-btn {
	background: #FBE698;
	border-radius: 10px;
	color: inherit;
	border: none;
	padding: 10px 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#homepage-btn a {
	color:#AF92FF;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
}

.card {
	background-color: #AF92FF;
	border: none;
}

.addtolist-btn {
	background: #FBE698;
	border-radius: 10px;
	border: none;
	padding: 10px 20px;
	font-size: 12px;
	cursor: pointer;
}

.index-right {
	// animation-name: floating;
	// animation-duration: 3s;
	// animation-iteration-count: infinite;
	// animation-timing-function: ease-in-out;
	// margin-left: 30px;
	// margin-top: 5px;
}

@keyframes floating {
	0% { transform: translate(0,  0px); }
	50%  { transform: translate(0, 15px); }
	100%   { transform: translate(0, -0px); }
}

.index-left {
	width: 600px;
}

#index-subtitle h2{
	font-size: 24px;
}

.card {
	color:black;
}

#pages-auth-signup {
	background-color: white;
	float: right;
	width: 50%;
	height: calc(100vh - 60px);
}

#welcome-msg {
	float: left;
	width: 50%;
	height: calc(100vh - 60px);
}

#signup-features li {
	list-style: none;
}


footer {
	// position: absolute;
	bottom: 0;
	padding-top: 10px;
	width: 100%;
	height: 50px;
	background:#FBE698;
	color:#AF92FF;
}

#profile-pic {
	height: 150px;
	width: 150px;
}

#searchBar {
	all: unset;
	background: white;
	width: 500px;
	padding: 5px 9px;
	border: 1px solid #FBE698;
	margin: 25px 0;
}

#submitSearch {
	width: 80px;
	height: 36px;
	background: #FBE698;
	border: 1px solid #FBE698;
	margin-left: -4px;
}

// #search-results-container {
// height: calc(100vh - 350px);
// }

.search-result  {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: white;
  border-radius: 5px;
  padding: 3%;
  margin-bottom: 1.5rem;
	color: black
}

.book-img {
	width: 350px;
}

.book-img img {
	height: 200px;
	width: 140px;
}

.book-info {
width: 800px;
}
