<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
</script>

<%- contentFor('body') %>
<div id="pages-lightread-bookreviews" class="container">
  <div id="pages-lightread-library" class="mt-5 mb-5"> <h1 class="text-center">Book Reviews</h1>
</div>
</div>
