<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>

const handleAddToReadList = (e) => {
  $('.search-result button[type="submit"]').attr('disabled', true);

  axios({
    method: 'POST',
    url: `/api/my/toreadlist`,
    data: {
      identifierId: $(e.currentTarget).data('book-id'),
      title: $(e.currentTarget).data('book-title'),
      author: $(e.currentTarget).data('book-author'),
      image: $(e.currentTarget).data('book-image')

    }
  }).then((resp) => {
    $('.search-result button[type="submit"]').text('Added').addClass('added');
  }).catch((err) => {
    if (err.response.status === 401) window.location.href = '/lightread/login'
  }).finally(() => {
    $('.search-result button[type="submit"]').attr('disabled', false);
  })
}

const handleNewBookReview = (e) => {
  e.preventDefault()
  const data = new FormData($('#book-review-new-form')[0])
  $('#modal-footer button[type="submit"]').attr('disabled', true)
  axios({
    method: 'POST',
    url: '/api/my/bookreviews',
    data
  }).then((resp) => {
    window.location.href = `/lightread/my/profile`
  }).catch((err) => {
    if (err.response.status === 401) window.location.href = '/lightread/login'
  })
}

const handleBookReviewForm = (e) => {
  e.preventDefault()

  const $elem = $(e.currentTarget)
  const identifierId = $elem.data('book-id')
  const title = $elem.data('book-title')
  const image = $elem.data('book-image')
  const author = $elem.data('book-author')
  const description = $elem.data('book-description')

  generateBookReviewForm({ identifierId, title, image, author, description });
}

const bookReviewForm = ({ identifierId, title, image, author }) => {
  return `
  <form id="book-review-new-form">
    <input name="book[identifierId]" value="${identifierId}" class="d-none">
    <input name="book[image]" value="${image}" class="d-none">
    <input name="book[title]" value="${title}" class="d-none">
    <input name="book[author]" value="${author}" class="d-none">
    <div class="mb-3">
      <label for="book-review-title" class="form-label">Book Title</label>
      <input
        id="book-review-title"
        class="form-control"
        value="${title}"
        disabled
      ></input>
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <label for="book-review-content" class="form-label">Content</label>
      <textarea
        id="book-review-content"
        class="form-control"
        name="content"
        rows="3"
      ></textarea>
      <div class="invalid-feedback"></div>
    </div>
  </form>
  `
}

const generateBookReviewForm = ({ identifierId, title, image, author, description }) => {
  const $formContainer = $('#form-wrapper');
  const $bookReviewForm = bookReviewForm({ identifierId, title, image, author, description });

  $formContainer.html('').append($bookReviewForm);
}

const featuredBooks = (books) => {
  return books.map((book) => {
  return `
    <div class="featured-books-row flex-column d-flex justify-content-around mb-5">
      <div class="card" style="width: 14rem; height:25rem">
        <img class="featured-book-img align-items-center" src="${book.imgUrl}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">${book.title}</h5>
          <p class="card-text text-center">${book.author}</p>
        </div>
      </div>
      <div class="d-flex flex-column">
        <button
            class="addtolist-btn mb-3"
            style="width: 190px;"
            type="button"
            data-book-id="${book.identifierId}"
            data-book-title="${book.title}"
            data-book-image="${book.imgUrl}"
            data-book-author="${book.author}"
            data-book-description="${book.description}"
          >📖 Add To To-Read List</button>

          <button
            class="new-book-review-btn btn-primary"
            style="width: 190px;"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#newBookReviewModal"
            data-book-id="${book.identifierId}"
            data-book-title="${book.title}"
            data-book-image="${book.imgUrl}"
            data-book-author="${book.author}"
            data-book-description="${book.description}"
            >✍️ Write Book Review
          </button>
          </div>
    </div>
  `
}).join('');
}

const bookData = (books) => {
  let bookInfo = [];
  for (let i = 0; i < books.items.length; i++) {
    let item = books.items[i];
    if (item.volumeInfo.industryIdentifiers) {
      let details = {
        identifierId: item.volumeInfo.industryIdentifiers[0].identifier || item.volumeInfo.industryIdentifiers[1].identifier || item.id,
        title: item.volumeInfo.title || 'N/A',
        desc: item.volumeInfo.description || 'No Description',
        imgUrl: item.volumeInfo?.imageLinks?.thumbnail || '../../images/book-cover.png',
        author: item.volumeInfo?.authors?.[0] || 'N/A'
      }

      bookInfo.push(details);
    }
  }
  return bookInfo;
}

const getFeaturedBooks = () => {
  axios({
    method: 'GET',
    url: `https://www.googleapis.com/books/v1/volumes`,
    params: {
      q: `subject:fantasy`,
      key: 'AIzaSyDrsPi3InGl9CO_EZTAEQfHtco_ch7-f-A'
    }
  }).then((resp) => {
    generateFeaturedBooks(bookData(resp.data));
  }).catch((err) => {
      return(err);
  })
}

const generateFeaturedBooks = (books) => {
  const $featuredBooksContainer = $('#featured-books-container');
  const $featuredBooks = featuredBooks(books);

  $featuredBooksContainer.html('').append($featuredBooks);
}

$(document).ready(() => {
  getFeaturedBooks();
  $('#featured-books-container').on('click', '.addtolist-btn', handleAddToReadList);
  $('#newBookReviewModal').on('click', '#post-button', handleNewBookReview);
  $('#featured-books-container').on('click', '.new-book-review-btn', handleBookReviewForm);
})
</script>

<%- contentFor('body') %>
<div id="pages-lightread-index" class="container d-flex flex-column">
  <div id="header" class="d-lg-flex align-items-center justify-content-center mt-5">
    <div class="index-left ms-3 d-flex flex-column align-items-start">
      <h1 class="text-left mb-4">Share Your Favorite Books With The World!</h1>
      <div id="index-subtitle" class="mb-4">
      <h2 class="text-left">LightRead:</h2>
      <h2 class="text-left">Your Online Bookshelf</h2>
    </div>
      <button id="homepage-btn"><a href="/lightread/library">Search The Library</a></button>
    </div>
    <div class="index-right">
      <img id="index-banner" src="../../images/main-kv.png" alt="banner">
    </div>
  </div>
  <div id="featured-books" class="d-flex flex-column mt-5">
      <h2 class="text-center mb-5">Featured Books</h2>
      <div id="featured-books-container" class="d-flex justify-content-around flex-wrap mb-5"></div>
  </div>
</div>

<div class="modal fade" id="newBookReviewModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create New Book Review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="form-wrapper" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="post-button" class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>
</div>
