<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
</script>

<%- contentFor('body') %>
<div id="pages-lightread-index" class="container d-flex flex-column">
  <div id="header" class="d-lg-flex align-items-center justify-content-center mt-5">
      <div id="index-header" class="ms-3">
        <h1 class="text-left">Share Your Favorite Books With The World!</h1>
        <h2 class="text-left">LightRead:</h2>
        <h2 class="text-left">Your Online Bookshelf</h2>
        <button><a href="/lightread/library">Explore Now</a></button>
      </div>
      <div class="">
        <img id="index-banner" src="https://images.pexels.com/photos/2386687/pexels-photo-2386687.jpeg" alt="banner">
      </div>
  </div>
  <div id="body" class="d-flex flex-column">
    <div>
    <h2 class="flex-fill text-center">Featured Books</h2>
  </div>
    <div id="subtitle d-inline">
      <h3>book title</h3>
      <h3>book title</h3>
      <h3>book title</h3>
    </div>
  </div>
</div>
