<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
</script>

<%- contentFor('body') %>
<div id="pages-lightread-library" class="container mt-5 mb-5"> <h1 class="text-center">Search The Library</h1>
  <div class="input-group d-flex justify-content-center">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" placeholder="Search"/>
    </div>
    <button type="button" class="btn btn-primary">search </button>
  </div>
</div>
