<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateTitle = () => {
    return `<h1 class="text-center mb-3">Search The Library</h1>`
  }

const handleAddToReadList = (e) => {
  e.preventDefault();
  $('.search-result button[type="submit"]').attr('disabled', true);

  axios({
    method: 'POST',
    url: ``,
  }).then((resp) => {

  }).catch((err) => {

  })
}

const results = (data) => {
  return
  `<div class="search-result">
    <img src="${imgUrl}">
    <button type="submit" id="addToReadList">Add To To-read List</button>
    <div class="description">
      <h1>${title}</h1>
      <p>Author:${author}</p>
      <div>
        ${desc}
      </div>
    </div>
  `
  $('.search-result').on('submit', '??', handleAddToReadList);
}

const generateResults = (data) => {
  const $searchResultsContainer = $('#search-results-container');
  const $results = Results();

  $searchResultsContainer('').append($results);
}

const generateSearchBar = () => {
    return `
  <div class="row">
      <div id="form-wrapper" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form id="search-book-form">
        <label for="search-txt">
          <input type="text" name="search-txt" id="search" placeholder="Search">
        </label>
          <button type="submit" id="submitSearch">Search</button>
      </form>
      </div>
    </div>
    `
  }

const generatePage = (info) => {
  const $page = $('#search-bar-container');
  const $title = generateTitle(info);
  const $searchBar = generateSearchBar(info);

  $page.html('').append($title).append($searchBar);
  }

const bookData = (data) => {
  data.forEach(book => {
    let title = book.volumeInfo.title

    let author = ""
    if (book.volumeInfo.authors != undefined) {
      author = book.volumeInfo.authors
    } else  author = "N/A"

    let desc = book.volumeInfo.description

    let imgUrl = book.volumeInfo.imageLinks.thumbnail
  })
}


const handleSubmit = (e) => {
  e.preventDefault();
  $('#search-book-form button[type="submit"]').attr('disabled', true);

  const query = new FormData(e.currentTarget);

  axios({
    method: 'GET',
    url: `https://www.googleapis.com/books/v1/volumes?q=${query}&key=AIzaSyBfA2wBiAH5CQ-mTdgi143wMiH5zexb870`,
  }).then((resp) => {
    let data = resp.data;
    results(data)
  }).catch((err) => {
    generatePage({
      errors: err.response.data
    })
  })
}

$(document).ready(() => {
  generatePage();
  $('#search-bar-container').on('submit', '#search-book-form', handleSubmit);
})
</script>

<%- contentFor('body') %>
<div id="pages-lightread-library" class="container mt-5 mb-5">
  <div id="search-bar-container"></div>
  <div id="search-results-container"></div>
</div>
