<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>

const handleAddToReadList = () => {
  $('.search-result button[type="submit"]').attr('disabled', true);

  axios({
    method: 'POST',
    url: `/api/my/to-read-list`,
    data: {
      bookId: $(e.currentTarget).data('book-id'),
      title: $(e.currentTarget).data('title'),
      description: $(e.currentTarget).data('description'),
    }
  }).then((resp) => {
    $('.search-result button[type="submit"]').text('Added').addClass('added');
  }).catch((err) => {
    if (err.response.status === 401) window.location.href = '/login'
  }).finally(() => {
    $('.search-result button[type="submit"]').attr('disabled', false);
  })
}

const results = (books) => {
  return books.map((book) => {
    let shortenText = book.desc.substring(0, 300);
    let remainingText = book.desc.substring(300,(book.desc.length))

    return  `
      <div class="search-result d-flex">
        <div class="book-img d-flex flex-column align-items-center">
        <img class="mb-3" src="${book.imgUrl}">
        <button
          class="addtolist-btn"
          style="width: 190px;"
          type="button"
          data-book-id="${book.id}"
          data-book-title="${book.title}"
          data-book-description="${book.description}"
        >📖 Add To To-Read List</button>
        </div>

        <div class="book-info">
          <h1>${book.title}</h1>
          <p>Author: ${book.author}</p>
          <div class="mb-3">${shortenText}... <button class="read-more">Read More</button></div>
        </div>
      </div>
    `
  }).join('');
}

const generateResults = (books) => {
  const $searchResultsContainer = $('#search-results-container');
  const $results = results(books);

  $searchResultsContainer.html('').append($results);
}

const bookData = (books) => {
  let bookInfo = [];
  for (let i = 0; i < books.items.length; i++) {
    let item = books.items[i];
    let details =
      {
      id: item.volumeInfo.industryIdentifiers[0].identifier,
      title: item.volumeInfo.title,
      desc: item.volumeInfo.description,
      imgUrl: item.volumeInfo.imageLinks.smallThumbnail,
      author: item.volumeInfo?.authors?.[0] || 'N/A'
      }
  bookInfo.push(details);
}
return bookInfo;
}

const handleSubmit = (e) => {
  e.preventDefault();

  // $('#search-book-form button[type="submit"]').attr('disabled', true);
  const query = parseFormData(new FormData(e.currentTarget));

  axios({
    method: 'GET',
    url: `https://www.googleapis.com/books/v1/volumes`,
    params: {
      ...query,
      key: 'AIzaSyDrsPi3InGl9CO_EZTAEQfHtco_ch7-f-A'
    }
  }).then((resp) => {
    console.log(resp);
    console.log(query);
    generateResults(bookData(resp.data));
  }).catch((err) => {
      return(err);
  })
}

const categoriesBtn = () => {
return `
<div class="d-flex justify-content-around mb-5">
  <button id="fiction"type="button" class="categoryBtn btn btn-primary">Fiction</button>
  <button id="history" type="button" class="categoryBtn btn btn-primary">History</button>
  <button id="classics" type="button" class="categoryBtn btn btn-primary">Classics</button>
  <button id="children" type="button" class="categoryBtn btn btn-primary">Children's</button>
  <button id="education" type="button" class="categoryBtn btn btn-primary">Education</button>
  <button id="psychology" type="button" class="categoryBtn btn btn-primary">Psychology</button>
  <button id="horror" type="button" class="categoryBtn btn btn-primary">Horror</button>
  </div>
`
}

const handleCategories = (e)  => {
  const query = e.currentTarget.id;

  axios({
    method: 'GET',
    url: `https://www.googleapis.com/books/v1/volumes`,
    params: {
      q: `subject:${query}`,
      key: 'AIzaSyDrsPi3InGl9CO_EZTAEQfHtco_ch7-f-A'
    }
  }).then((resp) => {
    console.log(resp);
    console.log(query);
    generateResults(bookData(resp.data));
  }).catch((err) => {
      return(err);
  })
}

const generateTitle = () => {
  return `
  <h1 class="text-center mb-3">Search The Library</h1>
    `
}

const generateSearchBar = (info) => {
  return `
    <div class="row text-center">
      <div id="form-wrapper" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form id="search-book-form">
          <input type="text" name="q" id="searchBar" placeholder="Enter Book Title">
          <button type="submit" id="submitSearch">Search</button>
        </form>
      </div>
    </div>
  `
}

const generatePage = (info) => {
  const $page = $('#search-bar-container');
  const $title = generateTitle();
  const $searchBar = generateSearchBar(info);
  const $categories = categoriesBtn();

  $page.html('').append($title).append($searchBar).append($categories);
}

$(document).ready(() => {
  generatePage();
  $('#search-bar-container').on('submit', '#search-book-form', handleSubmit);
  $('#search-results-container').on('click', '.addToReadList', handleAddToReadList);
  $('#search-bar-container').on('click', '.categoryBtn', handleCategories);
})
</script>

<%- contentFor('body') %>
<div id="pages-lightread-library" class="container mt-5 mb-5">
  <div id="search-bar-container" class="d-flex flex-column"></div>
  <div id="search-results-container"></div>
</div>
