<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>

// const generateMyToReadList = (books) => {
//   return `
//         <div class="bg-primary">
//           <h2 class="text-center">To-read List</h2>
//           <div id="toreadlist-section" class="">
//             <ul id="toreadlist">
//               <li>${book.title}li>
//             </ul>
//           </div>
//         </div>
//   `
// }

const generateTitle = () => {
  return `
  <h2 class="text-center">My profile</h2>
  `
}

const generateProfile = (username, email) => {
    return `
      <div class="d-flex flex-column container align-items-center">
        <div class="profile-pic mt-3">
          <img id="profile-pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile-pic">
        </div>
        <div class="profile-details">
          <p id="username" class="text-center mb-0 mt-3">${username}</p>
          <p id="email" class="text-center">${email}</p>
        </div>
      </div>
`
}

const bookReviews = (details) => {
  console.log('book reviews');
  console.log(details);
  return details.map((detail) => {
      return  `
        <div class="book-review d-flex flex-wrap">
            <h1>${detail.title}</h1>
            <p>By ${detail.author}</p>
            <p>Posted on ${detail.createdAt}</p>
            <img class="featured-book-img align-items-center" src="${detail.imgUrl}" alt="book cover">
            <p>${detail.content}</p>
          </div>
        </div>
      `
    }).join('');
}

const bookReviewData = (details) => {
  console.log('book review data');
  console.log(details);

  let bookReviews = [];
  for (let i = 0; i < details.length; i++) {
    let book = details[i];
      let info = {
        username: book.book.username,
        imgUrl: book.book.image,
        id: book.book.id,
        title: book.book.title,
        content: book.content,
        createdAt: book.createdAt,
        author: book.book.author
      }
      bookReviews.push(info);
  }
  return bookReviews;
}

const generateMyBookReviews = (details) => {
  const $myBookReviewsContainer = $('#my-book-review-container')
  const $myBookReviews = bookReviews(details);

  $myBookReviewsContainer.html('').append($myBookReviews);
}

const generatePage = (username, email, bookReviews) => {
  const $profileBody = $('#profile-container');
  const $title = generateTitle();
  const $profile = generateProfile(username, email);

  $profileBody.html('').append($title).append($profile);

  // const $myToReadListContainer = $('#my-to-read-list-container')
  // const $myToReadList = generateMyToReadList();

  // $myToReadListContainer.html('').append($myToReadList);
}

const getBookReviews = () => {
  axios({
    method: 'GET',
    url: '/api/my/bookreviews'
  }).then((resp) => {
    console.log('get book reviews');
    console.log(resp.data);
    console.log(resp.data[0]);
    console.log(resp.data[0].book.title);
    generateMyBookReviews(bookReviewData(resp.data));
  })
}

const getToReadList = () => {
  axios({
    method: 'GET',
    url: '/api/my/toreadlist/index'
  }).then((resp) => {
    console.log('get to read list');
    console.log(resp.data);
    // generatePage(resp)
  })
}

const getProfile = () => {
  axios({
    method: 'GET',
    url: '/api/my/profile'
  }).then((resp) => {
    let {username, email} = resp.data;
    generatePage(username, email);
  })
}

$(document).ready(() => {
  generatePage();
  getProfile();
  // getToReadList();
  getBookReviews();
})
</script>

<%- contentFor('body') %>
<div id="pages-my-profile-show" class="container mt-5 mb-5 d-flex justify-content-around">
  <div id="profile-left-container" class="col-3">
    <div id="profile-container" class=""></div>
    <div id="my-to-read-list-container">
      <h2 class="text-center">My Reading List</h2>
    </div>
  </div>
  <div id="profile-right-container" class="col-8 p-3">
    <div class="book-review-header">
      <h2 class="text-center">My Book Reviews</h2>
    </div>
    <div id="my-book-review-container" class=""></div>
  </div>
</div>
