<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>

const generateMyToReadList = (books) => {
  books.forEach((book)=> {
    return  `
      <div class="bg-primary">
        <h2 class="text-center">To-read List</h2>
          <div id="toreadlist-section" class="">
            <ul id="toreadlist">
              <li><input type="checkbox">${book.title}<li>
            </ul>
          </div>
      </div>
      `
  });
}

const generateTitle = () => {
  return `
  <h2 class="text-center">My profile</h2>
  `
}

const generateProfile = (username, email) => {
    return `
      <div class="d-flex flex-column container align-items-center">
        <div class="profile-pic mt-3">
          <img id="profile-pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile-pic">
        </div>
        <div class="profile-details">
          <p id="username" class="text-center mb-0 mt-3">${username}</p>
          <p id="email" class="text-center">${email}</p>
        </div>
      </div>
`
}

const bookReviews = (details) => {

  return details.map((detail) => {
    let shortenText = detail.content.substring(0, 250);
      return  `
        <div class="book-review d-flex">
          <div class="book-review-info d-flex flex-column col-8">
          <div>
            <h1>${detail.title}</h1>
          </div>
          <div>
            <p>By ${detail.username}</p>
            <p>Posted on ${detail.createdAt}</p>
            <p class="book-review-content">${shortenText}</p>
          </div>
          </div>
          <div class="book-review-img col-4 d-flex justify-content-center">
            <img class="featured-book-img align-items-center" src="${detail.imgUrl}" alt="book cover">
          </div>
        </div>
      `
    }).join('');
}

const bookReviewData = (details) => {
  let bookReviews = [];
  for (let i = 0; i < details.length; i++) {
    let book = details[i];
      let info = {
        username: book.user.username,
        imgUrl: book.book.image,
        id: book.book.id,
        title: book.book.title,
        content: book.content,
        createdAt: `${moment(book.createdAt).format("LL")}`,
        author: book.book.author
      }
      bookReviews.push(info);
  }
  return bookReviews;
}

const generateMyBookReviews = (details) => {
  const $myBookReviewsContainer = $('#my-book-review-container')
  const $myBookReviews = bookReviews(details);

  $myBookReviewsContainer.html('').append($myBookReviews);
}

const getBookReviews = () => {
  axios({
    method: 'GET',
    url: '/api/my/bookreviews'
  }).then((resp) => {
    generateMyBookReviews(bookReviewData(resp.data));
  })
}

const getToReadList = () => {
  axios({
    method: 'GET',
    url: '/api/my/toreadlist'
  }).then((resp) => {
    console.log('get to read list');
    console.log(resp.data);
    // generatePage(resp)
  })
}

const getProfile = () => {
  axios({
    method: 'GET',
    url: '/api/my/profile'
  }).then((resp) => {
    let {username, email} = resp.data;
    generatePage(username, email);
  })
}

const generatePage = (username, email) => {
  const $profileBody = $('#profile-container');
  const $title = generateTitle();
  const $profile = generateProfile(username, email);

  $profileBody.html('').append($title).append($profile);

  // const $myToReadListContainer = $('#my-to-read-list-container')
  // const $myToReadList = generateMyToReadList();

  // $myToReadListContainer.html('').append($myToReadList);
}

$(document).ready(() => {
  generatePage();
  getProfile();
  getBookReviews();
  getToReadList();

})
</script>

<%- contentFor('body') %>
<div id="pages-my-profile-show" class="container mt-5 mb-5 d-flex justify-content-around">
  <div id="profile-left-container" class="col-3">
    <div id="profile-container" class=""></div>
    <div id="my-to-read-list-container">
      <h2 class="text-center">My Reading List</h2>
    </div>
  </div>
  <div id="profile-right-container" class="col-8 p-3">
    <div class="book-review-header mb-3">
      <h2 class="text-center">My Book Reviews</h2>
    </div>
    <div id="my-book-review-container" class="d-flex flex-wrap justify-content-around"></div>
  </div>
</div>
