<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateForm = ({ user, errors } = {}) => {
  return `
    <div class="row" style="margin-right: 0px";>
      <div id="form-wrapper" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form id="signup-form">
          <div class="mb-3">
            <label for="user-email" class="form-label">Email</label>
            <input
              id="user-email"
              class="form-control ${errors?.email && 'is-invalid'}"
              name="email"
              value="${user?.email || ''}"
              type="email"
            ></input>
            <div class="invalid-feedback">${errors?.email || ''}</div>
          </div>

          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              id="username"
              class="form-control ${errors?.username && 'is-invalid'}"
              name="username"
              value="${user?.username || ''}"
              type="text"
            ></input>
            <div class="invalid-feedback">${errors?.username || ''}</div>
          </div>

          <div class="mb-3">
            <label for="user-password" class="form-label">Password</label>
            <input
              id="user-password"
              class="form-control ${errors?.password && 'is-invalid'}"
              name="password"
              value="${user?.password || ''}"
              type="password"
            ></input>
            <div class="invalid-feedback">${errors?.password || ''}</div>
          </div>

          <div class="mb-3">
            <label for="user-password-confirmation" class="form-label">Password Confirmation</label>
            <input
              id="user-password-confirmation"
              class="form-control ${errors?.passwordConfirmation && 'is-invalid'}"
              name="passwordConfirmation"
              value="${user?.passwordConfirmation || ''}"
              type="password"
            ></input>
            <div class="invalid-feedback">${errors?.passwordConfirmation || ''}</div>
          </div>

          <button id="signup-btn" class="btn" type="submit">Submit</button>
        </form>
      </div>
    </div>
  `
}

const generatePage = (info) => {
  const $page = $('#pages-auth-signup')
  const $title = '<h1 class="text-center">Signup</h1>'
  const $form = generateForm(info)

  $page.html('').append($title).append($form)
}

const handleSignup = (e) => {
  e.preventDefault()

  const data = new FormData(e.target)
  $('#signup-form button[type="submit"]').attr('disabled', true)

  axios({
    method: 'POST',
    url: '/api/auth/signup',
    data
  }).then(() => {
    window.location.href = `/lightread/my/profile`
  }).catch((err) => {
    generatePage({
      user: parseFormData(data),
      errors: err.response.data
    })
  })
}

$(document).ready(() => {
  generatePage()
  $('#pages-auth-signup').on('submit', '#signup-form', handleSignup)
})
</script>

<%- contentFor('body') %>
<div id="signup-body" class="d-flex justify-content-center ">
  <div id="welcome-msg" class="d-flex flex-column justify-content-center align-items-center">
    <div id="signup-title">
      <h1>Don't be shy!</h1>
      <h1>Let's be book buddies.</h1>
    </div>
    <div id="signup-features">
      <p>With LightRead, you'll be able to:</p>
      <ul>
        <li><p>&#10003 Post book reviews</p></li>
        <li><p>&#10003 Read other users' book reviews</p></li>
        <li><p>&#10003 Search for books and add them to your to-read list</p></li>
      </ul>
    </div>
    </div>
    <div id="pages-auth-signup" class="d-flex flex-column justify-content-center"></div>
</div>
